<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Presence analyzer</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""/>
    <meta name="author" content="STX Next sp. z o.o."/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link href="${ url_for('static', filename='css/normalize.css') }" media="all" rel="stylesheet" type="text/css" />
    <link href="${ url_for('static', filename='css/style.css') }" media="all" rel="stylesheet" type="text/css" />

    <script src="${ url_for('static', filename='js/jquery.min.js') }"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="${ url_for('static', filename='js/utils.js') }"></script>
    <%block name="js_block"/>
</head>
<body>
    <div id="main">
        <div id="header">
            <div id="login_bar">
            % if current_user.is_authenticated:
                <a href="${ url_for('logout') }">logout</a>
                <p >Logged as ${current_user.username}</p>
            % else:
                <a
                % if request.path == url_for('login'):
                    id="selected"
                % endif
                href="${ url_for('login') }">login</a>
                <a
                % if request.path == url_for('register'):
                    id="selected"
                % endif
                href="${ url_for('register') }">register</a>
            % endif
            </div>
            <h1>Presence analyzer</h1>
            <ul>
                <%block name="menu_bar">
                <li
                    % if request.path == '/presence_weekday':
                        id="selected"
                    % endif
                ><a href="${ url_for('views', view_name='presence_weekday') }">Presence by weekday</a></li>
                <li
                    % if request.path == '/mean_time_weekday':
                        id="selected"
                    % endif
                ><a href="${ url_for('views', view_name='mean_time_weekday') }">Presence mean time</a></li>
                <li
                    % if request.path == '/presence_start_end':
                        id="selected"
                    % endif
                ><a href="${ url_for('views', view_name='presence_start_end') }">Presence start-end</a></li>
                <li
                    % if request.path == '/month_and_year':
                        id="selected"
                    % endif
                ><a href="${ url_for('views', view_name='month_and_year') }">Presence by month</a></li>
                <li
                    % if request.path == '/top_employees_in_month':
                        id="selected"
                    % endif
                ><a href="${ url_for('views', view_name='top_employees_in_month') }">Top employees in month</a></li>
                </%block>
            </ul>
        </div>
        <div id="content">
            <h2>${ self.attr.current_title }</h2>
            <%block name="content">
            <p>
                <%block name="dropdown_info">
                <select id="user_id" style="display: none">
                    <option value="">--</option>
                </select>
                <div id="real_name_info" style="display: none">
                </div>
                <div id="avatar" style="display: none">
                    <img id='avatar' style="display: none"/>
                </div>
                </%block>
                <%block name="chart_div">
                <div id="chart_div" style="display: none;">
                </div>
                </%block>
                <div id="loading">
                    <img src="${ url_for('static', filename='img/loading.gif') }" />
                </div>
            </p>
            </%block>
        </div>
    </div>

</body>
