<%inherit file="base.html"/>
<%!
    current_title = "Presence by weekday"
%>

<%block name="js_block">
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"], 'language': 'pl'});
    </script>
    <script type="text/javascript">
        (function($) {
            $(document).ready(function(){
                $('#user_id').change(function(){
                    var selected_user = $("#user_id").val();
                    var chart_div = $('#chart_div');
                    var loading = $('#loading');
                    if(selected_user) {
                        loading.show();
                        chart_div.hide();
                        $.getJSON("/api/v1/presence_weekday/"+selected_user, function(result) {
                            var data = google.visualization.arrayToDataTable(result);
                            var options = {};

                            chart_div.show();
                            var chart = new google.visualization.PieChart(chart_div[0]);
                            google.visualization.events.addListener(chart, 'ready', function () {
                                chart_div.hide();
                            });
                            chart.draw(data, options);
                            _showChart = _chartFinished = true;
                            showChart();
                        });
                    }
                });
            });
        })(jQuery);
    </script>
</%block>
