<%inherit file="base.html"/>
<%!
    current_title = "Presence start-end weekday"
%>

<%block name="menu_bar">
    ${parent.menu_bar()}
    <li
    % if request.path == '/presence_start_end':
        id="selected"
    % endif
    ><a href="<% url_for('views', view_name='presence_start_end') %>">Presence start-end</a></li>
</%block>

<%block name="js_block">
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart", "timeline"], 'language': 'pl'});
    </script>
    <script type="text/javascript">
        (function($) {
            $(document).ready(function(){
                $('#user_id').change(function(){
                    var selected_user = $("#user_id").val();
                    var chart_div = $('#chart_div');
                    var loading = $('#loading');
                    if(selected_user) {
                        loading.show();
                        chart_div.hide();
                        $.getJSON("/api/v1/start_end_weekday/"+selected_user, function(result){
                            $.each(result, function(index, value){
                                value[1] = parseInterval(value[1]);
                                value[2] = parseInterval(value[2]);
                            })
                            var data = new google.visualization.DataTable();
                            data.addColumn('string', 'Weekday');
                            data.addColumn({ type: 'datetime', id: 'Start' });
                            data.addColumn({ type: 'datetime', id: 'End' });
                            data.addRows(result);
                            var options = {
                                hAxis: {title: 'Weekday'}
                            };
                            var formatter = new google.visualization.DateFormat({pattern: 'HH:mm:ss'});
                            formatter.format(data, 1);
                            formatter.format(data, 2);

                            chart_div.show();
                            loading.hide();
                            var chart = new google.visualization.Timeline(chart_div[0]);
                            chart.draw(data, options);
                        });
                    }
                });
            });
        })(jQuery);
    </script>
</%block>
